<footer>
  <ul>
    <li>
      <h3>Seguridad, de principio a fin</h3>
      <p>¿No te gusta? ¡Devolvelo! En DigitalMac, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
    </li>

     <ul class="footer-names">
    <li>Maria Aispuru</li>
    <li>Matias Blousson</li>
    <li>Rosario Villafañe</li>
  </ul>
  </ul>
</footer>