<footer>
  <ul>
    <li>
      <img src="/images/partials/tarjeta.png" alt="Tarjeta" height="50">
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>Con DigitalMac Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
    </li>
    <li>
      <img src="/images/partials/regalo.png" alt="Regalo" height="50">
      <h3>Envío gratis desde $49.999</h3>
      <p>
        Solo por estar registrado en DigitalMac tenés envíos gratis. </p>
    </li>
    <li>
      <img src="/images/partials/seguro.png" alt="Seguridad" height="50">
      <h3>Seguridad, de principio a fin</h3>
      <p>¿No te gusta? ¡Devolvelo! En DigitalMac, no hay nada que no puedas hacer,porque estás siempre protegido.</p>
    </li>
  </ul>
</footer>