<header class="main-header">
    <div class="container">
    <ul>
      <li>
        <img src="/images/DigitalMac Logo.png " alt="Logo Digital Mac" >
    </li>

    <li>
        <form action="http://localhost:3000/mercado/resultados" method="get">
          <input type="search" name="q" value="" placeholder="Buscar productos, marcas y m치s">
          <button type="submit">Mandar</button>
        </form>
    </li>
    </div>

    <li>Todas las opiniones en un solo lugar.</li>
 <nav class="main-navbar">
    <li><a href="http://localhost:3000/mercado/index">Todos los productos</a></li>
    <li><a href="http://localhost:3000/mercado/add">Cargar producto</a></li>
    <li><a href="http://localhost:3000/mercado/nombre">Nombre del usuario</a></li>
    <li><a href="">Cerrar sesi칩n</a></li> 
    <li><a href="http://localhost:3000/mercado/register">Cre치 tu cuenta</a></li>
    <li><a href="http://localhost:3000/mercado/Log">Ingres치</a></li>
    </ul>
  </nav>
</header>