<header>
  <nav>
    <ul>
      <li>
        <img src="/images/partials/imgmercado.png" alt="mercado liebre" >
    </li>

      <li>
        <form action="http://localhost:3000/mercado/resultados" method="get">
          <input type="search" name="q" placeholder="Buscar productos, marcas y m치s">
          <button type="submit">Mandar</button>
        </form>
      </li>

      <li><a href="http://localhost:3000/mercado/index">Todos los productos</a></li>
      <li><a href="http://localhost:3000/mercado/add">Cargar producto</a></li>
      <li><a href="http://localhost:3000/mercado/nombre">Nombre del usuario</a></li>
      <li><a href="">Cerrar sesi칩n</a></li> 
      <li><a href="http://localhost:3000/mercado/register">Cre치 tu cuenta</a></li>
      <li><a href="http://localhost:3000/mercado/Log">Ingres치</a></li>
    </ul>
  </nav>
</header>