<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>DigitalMac</title>

</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h2>Iniciar Sesión</h2>
    <form action="http://localhost:3000/mercado/mercado/log" method="GET">
        
        <label for="email">Correo electrónico:</label><br>
        <input type="email" id="email" name="email" ><br><br>

        <label for="contrasena">Contraseña:</label><br>
        <input type="password" id="contrasena" name="contrasena" ><br><br>

        <label for="recordarme">
            <input type="checkbox" id="recordarme" name="recordarme">
            Recordarme
        </label><br><br>

        <button type="submit">Ingresar</button>
    </form>
</body>
<%- include('./partials/footer.ejs') %>
</html>