<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>DigitalMac</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h2>Agregar producto</h2>
    <form action="http://localhost:3000/mercado/registrar" method="post">
        
        <label for="imagen">Imagen (URL o nombre archivo):</label><br>
        <input type="text" id="imagen" name="imagen" required><br><br>

        <label for="nombre">Nombre del producto:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" required></textarea><br><br>

        <button type="submit">Guardar producto</button>
    </form>
    <%- include('./partials/footer.ejs') %>
</body>
</html>