<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>DigitalMac</title>
=======
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
>>>>>>> e2cf3998757177a05bb94c7f6b9b8454e38b634b
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/footer.ejs') %>
</body>

</html>