<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>DigitalMac</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h2>Formulario de Registración</h2>
    <form action="http://localhost:3000/mercado/register" method="get">

        <p>Correo electrónico:</p>
        <input type="email" name="email" value=""><br><br>

        <p>Usuario:</p>
        <input type="text" name="usuario" value=""><br><br>

        <p>Contraseña:</p>
        <input type="password" name="contrasena" value=""><br><br>

        <p>Foto de perfil:</p>
        <input type="file" name="fotoPerfil" value=""><br><br>

        <button type="submit">Registrarse</button>
    </form>
<%- include('./partials/footer.ejs') %>
</body>

</html>